<h1>Task Manager</h1>
<p>This is a application to managing a to do list</p>

<%= link_to('Tasks',{controller:'tasks', action:'index', page: 1})%>
<br />
<%= link_to('About',{action:'about', page: 5, id: 20})%>